language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 1.9.3
- 2.0
- 2.1
- 2.2
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-slack.gemspec
- gem install sensu-plugins-slack-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: Luv34w7vY7lhRb9+dEY62dPt99UDJ6kQRKuMP3sXXWG4ZBhkPAGAw0BUJwA5Ia3iLum+9dRm5cpARiJOn0AIATjGkliuQGWkW6Hp1M8/Eh81TorMqeDkS4LTCPBQMySNeCqAXMLeek7gGXpLa+3kF3hd2cSr2jb7jmzCN4NLm1s=
  gem: sensu-plugins-slack
  on:
    tags: true
    all_branches: true
    rvm: 1.9.3
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2
    repo: sensu-plugins/sensu-plugins-slack
